.videosWrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px;
}

.catcontainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    opacity: .9;
    margin: auto;
    transition: all .8s cubic-bezier(0.8, 0, 0, 1);
}

.catcontainer:hover video {
    transform: scale(1.2);
    opacity: 1;
}

.videoWrap {
    display: flex;
    width: 100%;
    max-height: 10%;
    margin: auto;
    position: relative;
    background: black;
    overflow: hidden;
    position: relative;
    justify-content: center;
}

.videoWrap:hover .controls {
    opacity: 1;
}

.c-video {}

.c-video video {
    width: 100%;
    height: 100%;
    margin: auto;
}

.controls {
    opacity: 0;
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10%;
    flex-wrap: wrap;
    transition: all .5s ease-in-out;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.575) 30%, rgba(0, 0, 0, 0) 100%);
}

.actionbuttons {
    position: absolute;
    top: -5px;
    left: 0;
    display: flex;
    justify-content: left;
    width: 100%;
}

.actionbuttons button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    left: 20px;
    display: inline-block;
    font-size: 15px;
    opacity: .5;
    color: white;
    margin: auto 20px;
    transition: all .5s cubic-bezier(1, 0, 0, 1.2);
}

.actionbuttons button:hover {
    opacity: 1;
}

.volumenUi:hover {
    width: 130px;
}

.volumenUi:hover .actualVolumen {
    opacity: 1;
}

.volumenUi {
    width: 20px;
    background: rgba(0, 0, 0, 0.432);
    display: flex;
    overflow: hidden;
    justify-content: left;
    border-radius: 8px;
    position: relative;
    transition: all .5s cubic-bezier(1, 0, 0, 1.2);
}

.actualVolumen {
    width: 100%;
    height: 5px;
    background: #ddd;
    margin: auto 5px;
    opacity: 0;
}

.actualVolumen>div {
    width: 100%;
    height: 100%;
    background: orangered;
    position: relative;
}

.actualVolumen>div::after {
    position: absolute;
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background: white;
    content: '';
    top: 50%;
    right: 0;
    cursor: pointer;
    border: 1px solid black;
    transform: translateY(-50%);
}

.volumenUi button {
    left: 0;
    margin: auto 5px;
}

.lowerControl {
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.lowerControl p {
    color: white;
    font-family: 'QuickSand', sans-serif;
    text-align: center;
    margin: 0 20px auto;
    font-size: 15px;
}

.playbar {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: rgba(221, 221, 221, 0.644);
    margin: auto;
}

.playtimeline {
    width: 0%;
    max-width: 100%;
    height: 5px;
    border-radius: 10px;
    background: rgb(99, 219, 99);
    transition: all .3s ease-in-out;
    position: relative;
}

.playtimeline::after {
    position: absolute;
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background: white;
    content: '';
    top: 50%;
    right: 0;
    border: 1px solid black;
    cursor: pointer;
    transform: translateY(-50%);
}